---
import Input from '../components/Input.astro';
//
import { JsonData } from '../consts';
const { username, avatar_url, footer: { text, icon }, color } = JsonData;
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" />
<div class="container">
	<div class="py-4 text-center text-slate-900 rounded-lg mt-4 mb-6">
		<h1 class="font-bold text-2xl">📢 Enviar mensaje a Discord</h1>
	</div>
	
	<form method="POST" id="discordForm" enctype="multipart/form-data" class="grid grid-cols-4 gap-4">

		<div class="col-span-3">
			<Input label="Tu webhook" name="webhook" type="url" placeholder="https://discord.com/api/webhooks/000000000000000000/abcdefghijklmnopqrstuvwxyz1234567890abcdef" />
			<Input label="Título" name="title" type="text" placeholder="Titulo para tu mensaje" />
			<div class="mb-3">
				<label for="description" class="block text-sm/6 font-medium text-gray-900">Mensaje</label>
            <textarea name="description" id="description" rows="6" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"></textarea>
         </div>
		</div>

		<div class="col-span-3">
			<Input label="Color (hex)" name="color" type="color" value={color} />

			<div class="mb-3">
			  	<label for="file" class="block text-sm font-medium text-gray-900">Archivo</label>
				<input type="file" name="file" id="file" class="block w-full text-sm p-4 text-gray-900 bg-white rounded-md shadow-sm border-gray-300 focus:ring-indigo-500 focus:border-indigo-500" />
			</div>

			<Input label="Username" name="username" type="text" value={username} />
			<Input label="Avatar URL" name="avatar_url" type="url" value={avatar_url} />
			<Input label="Footer Text" name="footer_text" type="text" value={text} />
			<Input label="Footer Icon URL" name="footer_icon_url" type="url" value={icon} />

		</div>

		<div class="col-start-1 col-end-7">
			<button type="submit" class="bg-slate-600 hover:bg-slate-700 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-200">Enviar a Discord</button>
		</div>
		
	</form>

</div>
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<script type="module">
	const easyMDE = new EasyMDE({ element: document.getElementById("description") });

	const form = document.getElementById("discordForm");
	form.addEventListener("submit", async (e) => {
    	e.preventDefault();
    	const formData = new FormData(form);
    	formData.set("description", easyMDE.value());

    	const response = await fetch("/api/send-discord", {
      	method: "POST",
      	body: formData
    	});
    	if (response.ok) {
    		// Limpiar formulario
      	form.reset();
      	// Redirigir al index
      	window.location.href = "/";
    	} else {
      	alert("Hubo un error al enviar el mensaje.");
    	}
  	});
</script>